*{
	padding: 0;
	margin: 0;
}
body{
    background: url(bg_img.jpg) no-repeat;
	background-size: cover;
    align-items: center;
	justify-content: center;
	display: flex;
	font-family: sans-serif;
}
.container{
    
}