*{
	padding: 0;
	margin: 0;
}
body{
    background: url(bg_img.jpg) no-repeat;
	background-size: cover;
    align-items: center;
	justify-content: center;
	display: flex;
	font-family: sans-serif;
}
.container{
    position: relative;
	margin-top: 100px;
	width: 450px;
    height: auto;
	background: #dedede;
	border-radius: 5px;
}
.label{
    padding: 20px 130px;
	font-size: 35px;
    font-weight: bold;
	color: #130f40;
}
.signup_form{
	padding: 20px 40px;
}
.signup_form .font{
    font-size: 18px;
	color: #130f40;
	margin: 5px 0;
}
.signup_form input{
	
}
	